Package: my-awesome-project
Version: 1.0-1
Architecture: all
Section: base
Priority: standard
Maintainer: Bisvarup Mukherjee <bisvarup.mukherjee@gmail.com>
Description: Sample project to demonstrate packaging nodejs repo into a debian project
